.leftBox{
    height:100%;
    width:120px;
    border-right:2px solid var(--foreground);
}
.middleBox{
    height:100%;
    width:calc(100vw - 240px);
    background:#f00;
    display:flex;
    flex-direction:column;
}
.rightBox{
    height:100%;
    width:120px;
    border-left:2px solid var(--foreground);
}